[Unit]
Description=Ripple Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/brt/bin/brtd --net --silent --conf /etc/opt/brt/brtd.cfg
Restart=on-failure
User=brtd
Group=brtd
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
